*{
    background-color: rgb(135, 165, 162);
}

h1 {
    color: blue;
    text-align: center;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

h2 {
	text-align: center;
}

form {
	margin-bottom: 20px;
}

label {
	display: block;
	margin-bottom: 10px;
}

input[type="text"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

button[type="submit"] {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

button[type="submit"]:hover {
	background-color: #17571a;
}

.game-details {
	background-color:rgb(1, 153, 218);
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
	display: none;
}
