body {
    background-color: black !important;
	background-size:auto;
}

h1 {
    color: blue;
    text-align: center;
	cursor: crosshair;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

h2 {
	text-align: start;
	color: blue;;
}

form {
	margin-bottom: 20px;
}

label {
	display: block;
	margin-bottom: 10px;
}

input[type="text"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

button[type="submit"] {
	background-color: #4CAF50;
	color: rgb(0, 0, 0);
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

button[type="submit"]:hover {
	background-color: #17571a;
	color: white;;
}

button[type="sort"] {
	background-color: #33c5c3;
	color: rgb(0, 0, 0);
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

button[type="sort"]:hover {
	background-color: #256568;
	color: white;
}


.game-details {
	background-color:rgb(1, 153, 218);
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
	display: none;
	width: 100%;
	height: auto;
}
